
.wrapper {
 
  max-width: auto;
  margin: 0 auto;
}
nav ul {
  margin: 0;
text-align: center;
background-color: #000;

}

nav li{
  display: inline-block;
  padding: 1em;



}

nav a {
  text-decoration: none;
  color: #3861ff;
  
  
}

.logo {

	background-color: #000;
	overflow: hidden;
}

.logo h1 {
 color: #3861ff;
 font-family: 'Gill sans', sans-serif;
font-size: 3em;
text-align: center;
}

.logo img {
	 position: absolute;
  right: -14px;
  top: -15px;
  width: 18%;
}


@media screen and (min-width:67.5em) {
  .logo img {
  position: absolute;
  right: 30em;
  top: 1em;
  width: 5%; 
}
}

.hero {
  
  background: url(../img/wall4.JPG) center center ;
   background-size: cover;
  height: auto;
  padding: 9em 1em;
}

.hero h1 {
  color: #fff;
  text-align: center;
  text-shadow: 0 0 20px #212121;
}

.hero p {
  text-align: center;
}

.hero a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0 20px;
  line-height: 2;
}

.hero a:hover {
  background-color: #fff;
  color: #212121;
}



body {
font-family : 'Gill Sans', sans-serif;
background-color : #fff;

  font-color: #000;
}

 h2 {

	text-align: center;
}






.content-home {

   padding: 3em 3;
   background-color: #000080;
   display: inline-block;
   width: 100%;
}

.col  {
    width: 100%;
    overflow: hidden;
}

.col img {
  padding: 1em;
  width: 100%;
}

@media screen and (min-width:67.5em) {
  .content-home .col {
  width : 31.33%;
  float : left;
  margin-right : 2%;
  padding : 1em 0;
display: inline-block;
  } 
}  


.col + h2 {
    padding-top: 1em ;
    color: #fff;
    
}

.col h2 + p {
    margin-bottom: none;
}


@media screen and (min-width:67.5em) {
    .wrapper .col { 
      width:31.333%;
        float: left;
        margin-right: 2% ;
      }

      footer {
  padding: 20px 0;
  color: #3861ff;
  background-color: #000;
  text-align: center;
  border-top: 20px solid #3861ff;
}

footer p {
  margin-top: 0;
  color: #3861ff;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

footer li {
  display: inline-block;
  margin: 0 10px;
}

.fa {
  color: #3861ff;
}


