body {
  background-color: #000;
  margin-top: 40px;
}

.flex-direction-nav a:before {
  content: '\276E';
}

.flex-direction-nav a.flex-next:before {
  content: '\276F';
}

.wrapper {
 
  max-width: 960px;
  margin: 0 auto;
}

.sliderwrapper {
 
  max-width: 960px;
  margin: 0 auto;
}

header {
overflow: hidden;
padding: 1em;
}

header h1 {
  text-align: center;
  font-family: 'Futura', sans-serif;
  font-weight: 700;
   
}

* {
	font-family: Helvetica, sans-serif;
	box-sizing: border-box;
}


/* NAVAGATION*/
.navButton {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
	padding: .5em;
	}
.navButton a {
	color: #2ff3e0;
	text-decoration: none;
	padding: 0 0 0 .5em;
    float: left;
}

i {
 	font-size: 1em;
 	color: #2ff3e0;
 	padding: 0 1em 0 0;
 	transition: color .5s;
 }

i:hover {
 	color: #333;
 }

 #nav {
 	position: fixed;
 	top: 2em;
 	left: -72%;
 	width: 72%;
 	margin: 0;
 	height: 100%;
 	background-color: #2ff3e0;
 	background-color: rgba(0,0,0,.84);
 	transition: left .5s;
}

#nav:target {
	left: 0;
}

nav {
	z-index: 1000;
}

nav ul {
	margin: 0;
	padding: 0;
	margin-top: .5em;
	list-style-type: inline-block;
}
nav li {
	list-style: none;
	margin: 0;
	padding: 0;	
}

nav li a {
	color: #2ff3e0;
	text-decoration: none;
	display: block;
	padding: .5em 1em;
	transition: all .5s;
}

nav li a:hover {
	color: #2ff3e0;
	text-decoration: none;
	background-color: #eee;
	color: #333;
}

.hiddenLink {
	display: block;
}



.logo {
	width: 40%;
	margin-bottom: 5%;
	margin-top: -15%;
position: absolute;
margin-left: 35%;
}

.search {
	width: 8%;
	position: absolute;
	margin-left: 24%;
	margin-top: -10.5%;

}

.tickets {

	width: 8%;
	position: absolute;
	margin-left: 80%;
	margin-top: -9.5%;

}
 @media only screen and (min-width: 30em) {
  body {
    margin-top: 200px;
  }

  .navButton {
    display: none;
  }

  #nav {
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #333;
    background-color: rgba(0,0,0,.84);
    position: static;
  }

  nav {
    margin: 0;
  }

  nav ul {
    text-align: center;
    margin: 0;
  }

  nav li {
    display: inline;
  }

  nav li a {
    display: inline-block;
    padding: .5em 1em;
  }

  .hiddenLink {
    display: none;
  }
.sliderwrapper {
 
  max-width: 960px;
  margin: 0 auto;
}

}


/* Large and up */
@media screen and (min-width: 64em) {}








/* Now Playing*/








* {
  box-sizing: border-box;
}

.cover {
  width: 220px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  height: 333px;
  overflow: hidden;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.55);
  position: relative;
  border: 4px solid rgba(0, 0, 0, 0.33);
  background: #333

}

.cover img {
  width: 100%;
  height: 100%;
  transition: .3s all ease;
}

.cover:hover img {
  transform: translate(0px, 38px);
  filter: blur(3px);
}

.cover .header {
  position: absolute;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.44);
  width: 100%;
  top: -130px;
  transition: .3s all ease;
}

.cover .header .type {
  float: left;
  background-color: #333;
  color: #fff;
  padding: 10px 19px;
}

.cover .header .seen {
  float: right;
  background-color: black;
  color: #fff;
  padding: 10px 30px;
}

.cover:hover .header {
  top: 0
}

.cover .info {
  position: absolute;
  color: #fff;
  margin-top: 67px;
  text-align: center;
  z-index: 9999;
  bottom: -250px;
  transition: 0.5s;
}

.cover .info h3 {
  font-weight: bold;
}

.cover .info button {
  border: 0;
  padding: 13px;
  width: 100%;
  color: #fff;
  background: #a5292d;
  font-size: 19px;
}
.cover:hover .info{
  bottom:0;
}

.popcorn {
  
  background: url(../img/popcorn.png ) center center ;
   background-size: cover;
  height: auto;
  padding: 9em 1em;
}

.Welcome {
	background-color: red;
	background-size: cover;
}

.Welcome p {
	color: #black;

}

.Welcome h1 {
	text-align: center;
}

.parry {
	color: #fff;
}


.parry img {
	width: 100%;
	height: auto;
	
}

.woah {
  color: red;
}

.learn p {
  text-align: left;
}

.learn a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0 10px;
  line-height: 2;
}

.learn a:hover {
  background-color: #fff;
  color: #212121;
}



.maps {
  width: auto;
  height: auto;
}

.wrapper {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.wrapper img{
  display: block;
  width: 50%;
  margin: auto;

}

.intro {
  font-size: .90em;
}

.CEO{
  font-style: italic;
}
form label {
  display: block;
  margin-bottom: .5em;
  font-color: fff;
}

form input {
  display: block;
  margin-bottom: 1em;
  border: 0;
  background-color: #e5e5e5;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
}

form button {
  border: 0;
  line-height: 2;
  font-size: 1em;
  border-radius: 5px;
  padding: 0 10px;
}

@media screen and (min-width: 47.5em){
 .content-products li:nth-child(3) {
 clear: left;
 }
}
@media screen and (min-width: 67.5em){
 .content-products li:nth-child(3) {
 clear: none;
 }
 .content-products li:nth-child(4) {
 clear: left;
 }
} 



@media screen and (min-width: 30em){ 

p {
  color: #fff;
}

  .news .left {
  float: left;
  width: 70%;
  margin-right: 5%;
  }

.news .right {
  float: left;
  width: 25%;
}

}
.offers{
  padding: 0px;

}


 }
.content {
 overflow: hidden;
}

/*news*/
@media screen and (min-width: 47.5em){
 .content .main {
 float: left;
 width: 65%;
 }

 .content .side {
 float: left;
 width: 35%;
 }

.media-element{
  padding: 0;
  margin: 0;
  list-style: none;
}

 .image img {
  width: 30%;
 float: left;
 margin-right: 5%;
 border-radius: 5%;
 }

 .media-element li {
 overflow: hidden;
 margin-bottom: 1.5em;
}

 .imag .image {
 width: 30%;
 float: left;
 margin-right: 5%;
 border-radius: 50%;
 }

 .media-element .description {
 float: right;
 width: 65%;
 }
}


/*about*/

.about{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.about img{
  display:block;
  width: 100%;
}
.about-left h2{
  font-size:1.5em;
}
.about-left p{
    font-size:1em;
}


@media screen and (min-width:67.5em){
  .about-left{
  float:left;
  width:60%;
  margin-right:5%;
  margin-bottom: 5%;
  margin-top: 0%;
}
.about-right{
 float:left;
  width:35%;
 }

}

@media screen and (min-width: 30em){ 
.signup img{
  width: 100%;
  float: left;
  padding: 1em 2em 1em 0;
}
  .left {
  float: left;
  width: 70%;
  margin-right: 5%;
  }

.right {
  float: left;
  width: 25%;
}
  
}

.signup{
  color: white;
}

.l img{

  float: left;
  width: 40%;
  margin-top: 0%;
  margin-bottom: 20%;
  margin-right: 5%;
}
    
/*gallery*/


.gallery ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
  overflow: hidden;
}

.gallery li {
  background-color: #a5292d;
  margin: 2%;
  

}

.gallery li img {
  max-width: 100%;

}

.gallery li p {
  padding: 0 10%;
  text-align: center;
}


.gallery li h3 {
  padding: 0 10%;
  text-align: center;
}






@media screen and (min-width:480px){
  .gallery li {
    float: left;
    /* 50% - 4% margin = 46 */
    width: 46%;
  }
}

@media screen and (min-width:660px){
  .gallery li {
    /* 33.3333% - 4% margin = 29.3333 */
    width: 29.3333%;
  }
}

@media screen and (min-width:940px){
  .gallery li {
    /* 25% - 4% margin = 21 */
    width: 21%;
  }
}

/*members*/.wrapper {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.wrapper img{
  display: block;
  width: 50%;
  margin: auto;

}

.intro {
  font-size: .90em;
}

.CEO{
  font-style: italic;
}
form label {
  display: block;
  margin-bottom: .5em;
  font-color: fff;
}

form input {
  display: block;
  margin-bottom: 1em;
  border: 0;
  background-color: #e5e5e5;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
}

form button {
  border: 0;
  line-height: 2;
  font-size: 1em;
  border-radius: 5px;
  padding: 0 10px;
}

@media screen and (min-width: 47.5em){
 .content-products li:nth-child(3) {
 clear: left;
 }
}
@media screen and (min-width: 67.5em){
 .content-products li:nth-child(3) {
 clear: none;
 }
 .content-products li:nth-child(4) {
 clear: left;
 }
} 



@media screen and (min-width: 30em){ 

  .news .left {
  float: left;
  width: 70%;
  margin-right: 5%;
  }

.news .right {
  float: left;
  width: 25%;
}

}
.offers{
  padding: 0px;

}


 }
.content {
 overflow: hidden;
}

/*news*/
@media screen and (min-width: 47.5em){
 .content .main {
 float: left;
 width: 65%;
 }

 .content .side {
 float: left;
 width: 35%;
 }

.media-element{
  padding: 0;
  margin: 0;
  list-style: none;
}

 .image img {
  width: 30%;
 float: left;
 margin-right: 5%;
 border-radius: 5%;
 }

 .media-element li {
 overflow: hidden;
 margin-bottom: 1.5em;
}

 .imag .image {
 width: 30%;
 float: left;
 margin-right: 5%;
 border-radius: 50%;
 }

 .media-element .description {
 float: right;
 width: 65%;
 }
}


/*about*/

.about{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.about img{
  display:block;
  width: 100%;
}
.about-left h2{
  font-size:1.5em;
}
.about-left p{
    font-size:1em;
}


@media screen and (min-width:67.5em){
  .about-left{
  float:left;
  width:60%;
  margin-right:5%;
  margin-bottom: 5%;
  margin-top: 0%;
}
.about-right{
 float:left;
  width:35%;
 }

}

@media screen and (min-width: 30em){ 
.signup img{
  width: 100%;
  float: left;
  padding: 1em 2em 1em 0;
}
  .left {
  float: left;
  width: 70%;
  margin-right: 5%;
  }

.right {
  float: left;
  width: 25%;
}
  
}

.signup{
  color: white;
}

.l img{

  float: left;
  width: 40%;
  margin-top: 0%;
  margin-bottom: 20%;
  margin-right: 5%;
}
    
main {
  padding: 5px 0;
  color: #fff;
}

















/* footer*/

footer {
  padding: 5px 0;
  color: #3861ff;
  background-color: #000;
  text-align: center;
  border-top: 10px solid #3861ff;
}

footer p {
  margin-top: 0;
  color: #3861ff;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

footer li {
  display: inline-block;
  margin: 0 10px;
}

.fa {
  color: #3861ff;
}
